html, body {
	font-family: verdana, arial, sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: black;
	}
#page-container {
	    background: red;
	}
	
#nav {
	background: blue;
	float: left;
	
	clear: both;
}

#content {
	background: green;
	margin-left: 175px;

}

#header {
	background: yellow;

}

#footer {
	background: orange;
}